<header>
  <a href="#">work</a>
  <p>.</p>
  <a href="#">services</a>
  <p>.</p>
  <a href="#">insights</a>
  <p>.</p>
  <a href="#">blog</a>
  <p>.</p>
  <a href="#">events</a>
  <p>.</p>
  <a href="#">shop</a>
  <p>.</p>
  <a href="#">contact</a>
</header>