// VARIABLES
@import '../../sass/variables';

// TODO: update 'fixed' position

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colour-grey-dark;
  color: $colour-grey-light;
  position: fixed;
  z-index: 10;
  max-width: inherit;
  height: 3rem;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  a {
    padding: 0.5rem 1rem;
    transition: 0.3s;
    transition: padding 0s; // Change padding on hover with no delay
    color: $colour-grey-light;
    text-decoration: none;
  }
  a:hover {
    color: white;
    border-bottom: solid 0.1rem $colour-grey-light;
    padding-bottom: 0.4rem; // Reduce bottom padding to prevent links 'jumping' up on hover
  }
}