// BUTTONS

// Mixins
@mixin border-radius($property) {
    -webkit-border-radius: $property;
    -moz-border-radius: $property;
    border-radius: $property;
}

@mixin border-and-font-colour($property) {
    border-color: $property; // Update border-color
    color: $property;
    &:hover {
        background-color: $property; // Update background-color on hover
    }
}

// Extend & Inheritance
%button-shared {
    border: 1px solid;
    padding: 0.5rem 1rem;
    cursor: pointer;
    @include border-radius(5px); // Mixin
    transition: 0.3s;
    margin: 0.5rem 0.5rem 0.5rem 0;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        color: white;
    }
}