@import './variables';
@import './mixins';

// ALL GLOBAL STYLES BELOW

// ELEMENTS

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

h1 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
}

h2 {
    margin: 0.5rem 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

// DIVS

.container-960px {
    max-width: 960px;
    margin: 0 auto;
}

// FONT STYLES, COLOURS, ETC.

.font-weight-100 { font-weight: 100; }
.font-weight-300 { font-weight: 300; }
.font-weight-500 { font-weight: 500; }
.font-weight-700 { font-weight: 700; }

.text-red { color: $colour-red; }