<div class="nav-banner">
  <select class="banner-select">
    <option selected id="great-britain">Great Britain</option>
    <option id="italy">Italy</option>
    <option id="france">France</option>
    <option id="spain">Spain</option>
    <option id="murica">'Murica</option>
  </select>
  
  <p class="banner-header font-weight-100">the <span class="text-red font-weight-300">leighton</span> shop</p>

  <div class="banner-basket">
    <i class="fas fa-shopping-cart"></i>
    <p>Your basket</p>
    <p class="font-weight-700">(<span class="text-red" id="basket-number">0</span>)</p>
  </div>
</div>