// VARIABLES
@import '../../../sass/variables';

.nav-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 1rem;
    .banner-header {
        font-size: 3rem;
    }
    .banner-basket {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        border: 1px solid lightgrey;
        height: 1rem;
        cursor: pointer;
        p {
            color: darkgrey;
            padding-left: 0.5rem;
        }
    }
}