<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

<!-- FontAwesome Icons -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!-- COMMENT: Ryan 
Normally I would keep link tags in the index.html file in the head. This is because this will be loaded before anything else, so if it takes a few seconds for your angular to load/compile, this will not load inltil the angular component -->

<app-header></app-header>
<div class="app-body">
    <app-nav></app-nav>
    <app-products></app-products>
</div>

<!-- 
    COMMENT: Ryan
    Really good structure to your app comp here. 
    Relly like how you break your app up into smaller componets to handle specific parts of functionality!
    Good Work -->