<div class="products-section">
    <div *ngIf="featuredProduct">
        <div *ngFor="let prod of featuredProduct">
            <p class="featured-banner">Featured Product</p>
            <app-product [product]="prod"></app-product>
        </div>
    </div>
    <div *ngIf="!featuredProduct">
        <h5>No featured product!</h5> <!-- Show 'no featured product' if featured product doesn't exist -->
    </div>

    <div *ngIf="remainingProducts">
        <div *ngFor="let prod of remainingProducts">
            <app-product [product]="prod"></app-product>
        </div>
    </div>
    <div *ngIf="!remainingProducts">
        <h5>Loading...</h5> <!-- Show 'loading...' while waiting for API to return data -->
    </div>
</div>