@import '../../sass/variables';

.featured-banner {
    background-color: $colour-grey-dark;
    color: white;
    font-size: 0.8rem;
    padding: 0.8rem 1.5rem;
    margin: 0;
    margin-top: 0.8rem;
}