// VARIABLES & MIXINS
@import '../../sass/variables';
@import '../../sass/mixins';

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $colour-grey-light;
    margin-bottom: 0.8rem;
    padding: 0.5rem 1rem;
    .button {
        @extend %button-shared; // Extend & Inheritance
        @include border-and-font-colour($colour-grey-light); // Mixin
    }
    .button-red {
        @extend %button-shared; // Extend & Inheritance
        @include border-and-font-colour($colour-red); // Mixin
    }
}

