<div class="product" *ngIf="product">
    <h2 class="name">{{product.name | titlecase}}</h2>
    <div class="brand"><b>Brand: </b>{{product.brand | titlecase}}</div>
    <div class="colour"><b>Colour: </b>{{product.colour | titlecase}}</div>
    <div class="size">
        <select>
            <option selected disabled hidden>Select size</option>
            <option><span>Small: </span>{{product.size.small}}<span> in stock</span></option>
            <option><span>Medium: </span>{{product.size.medium}}<span> in stock</span></option>
            <option><span>Large: </span>{{product.size.large}}<span> in stock</span></option>
        </select>
    </div>
    <div class="description">
        <b>Description: </b>
        <p>{{product.description}}</p>
    </div>
    <div class="id"><b>Product ID: </b>{{product.productid}}</div>
    <div class="buttons">
        <button class="button-red">Add to basket</button>
        <button class="button">Save for later</button>
    </div>
</div>